
#Import

In [1]:
import pandas as pd

# Tasks

## 1- Read the table from CSV

In [3]:
table = pd.read_csv("/content/Employees.csv")
print(table.info())
table.head(9)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         9 non-null      object
 1   Gender       9 non-null      object
 2   Age          9 non-null      float64
 3   Salary(USD)  9 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 416.0+ bytes
None

    Name  Gender      Age  Salary(USD)
0    Mark      M  20.3650         1000
1   John       M  60.3226         1200
2  Edward      M  42.2650         3000
3   Salah      M  31.3800         5000
4   Ahmed      M  42.6800         1700
5    Sara      F  25.3640         1900
6   Julia      F  21.2857         1950
7   John       M  60.3226         1200
8    Mark      M  20.3650         1000

## 2- Remove duplicates

In [6]:
table.drop_duplicates(inplace = True)
print(table.info())
table.head(9)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         7 non-null      object
 1   Gender       7 non-null      object
 2   Age          7 non-null      float64
 3   Salary(USD)  7 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 280.0+ bytes
None

    Name  Gender      Age  Salary(USD)
0    Mark      M  20.3650         1000
1   John       M  60.3226         1200
2  Edward      M  42.2650         3000
3   Salah      M  31.3800         5000
4   Ahmed      M  42.6800         1700
5    Sara      F  25.3640         1900
6   Julia      F  21.2857         1950

## 3- Remove any decimal point in the age coloumn

In [12]:
table["Age"] = (round(table[["Age"]]))
print(table.info())
table.head(9)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         7 non-null      object
 1   Gender       7 non-null      object
 2   Age          7 non-null      float64
 3   Salary(USD)  7 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 280.0+ bytes
None

    Name  Gender   Age  Salary(USD)
0    Mark      M  20.0         1000
1   John       M  60.0         1200
2  Edward      M  42.0         3000
3   Salah      M  31.0         5000
4   Ahmed      M  43.0         1700
5    Sara      F  25.0         1900
6   Julia      F  21.0         1950

## 4- convert the USD salary to EGP

In [15]:
table["salary(EGP)"] = table["Salary(USD)"]*30
print(table.info())
table.head(9)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         7 non-null      object
 1   Gender       7 non-null      object
 2   Age          7 non-null      float64
 3   Salary(USD)  7 non-null      int64
 4   salary(EGP)  7 non-null      int64
dtypes: float64(1), int64(2), object(2)
memory usage: 336.0+ bytes
None

    Name  Gender   Age  Salary(USD)  salary(EGP)
0    Mark      M  20.0         1000        30000
1   John       M  60.0         1200        36000
2  Edward      M  42.0         3000        90000
3   Salah      M  31.0         5000       150000
4   Ahmed      M  43.0         1700        51000
5    Sara      F  25.0         1900        57000
6   Julia      F  21.0         1950        58500

## 4- print some stats (AVG age, Median Salaries, Ration "Males/Females", ...)

In [30]:
avg_age = table["Age"].mean()
med_salary = table["salary(EGP)"].median()
num_gender = table["Gender"].value_counts()
t=num_gender["F"]
s=num_gender["M"]
ratio=s/t
print(avg_age,med_salary,num_gender,ratio)

34.57142857142857 57000.0 M    5
F    2
Name: Gender, dtype: int64 2.5

## 5- Save the edited table to a CSV file

In [31]:
table.to_csv("/content/newEmployees.csv")

# END